/*
ESTE CSS SOBREESCRIBE Y PERSONALIZA ESTILOS DE BOOTSTRAP
*/

/* =======================================================================
GENERAL
========================================================================== */

.flexbox {
  display: block;
  justify-content: space-between;
}

@media (min-width: 651px) {
  .flexbox {
    display: flex;
  }
}

@media (max-width: 992px) {
  .container-custom {
    max-width: none;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container-custom {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container-custom {
    max-width: none;
  }
}

#custom .logo {
  width: auto;
  height: 18px;
  margin-right: 10px;
}

.main {
  overflow-x:auto;
}

.main h3 {
  margin-bottom: 18px;
}

.link-logo {
  display: block;
  margin-top: 5px;
}

.form-facturas {
  margin-bottom: 24px;
}

.table-pedido {
  margin-top: 20px;
}

.title-small {
  font-size: 20px;
}

/* =======================================================================
HEADER
========================================================================== */

#custom .header-custom {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  transition: 0.3s;
}

#custom .nav-link:hover {
  color: #F373B9!important;
  transition: 0.3s;
}

@media (min-width: 767px) {
  #custom .btns-custom {
    width: 30%;
  }
}

/* =======================================================================
HERO
========================================================================== */

.hero-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  min-height: 200px;
  margin-right: 16px;
  width: 100%;
}

@media (max-width: 650px) {
  .hero-img {
    width: 100%;
    padding: 24px!important;
    height: max-content;
  }
}

.hero-trasparent {
  background: rgba(00, 00, 00, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.hero-index {
  position: relative;
  z-index: 10;
  color: white;
}

/* =======================================================================
BARRA LATERAL
========================================================================== */

.nav-bar {
  width: 190px;
}

@media (max-width: 650px) {
  .nav-bar {
    width: 100%;
    padding: 0!important;
  }
}

.nav-link-custom {
  width: 100%;
  margin-left: 0!important;
}

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  text-align: left;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #B8E2FF;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #FFD5EC;
}

.scrollarea {
  overflow-y: auto;
}

.dropdown-item-custom:hover {
  background-color: #FFD5EC;
}

.dropdown-item-custom:active {
  background-color: #F373B9;
}
